.custom-box {
    width: 800px;
    height: 270px;
    background: linear-gradient(to right, rgba(255, 165, 0, 0.5), rgba(135, 206, 235, 0.8)); /* افزایش نسبت آبی */
    border-radius: 25px;
    border-top-left-radius: 200px; /* شعاع گوشه سمت چپ بالا */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

/* استایل برای کادر راست */
.right-box {
    background-color: #333;
    border-radius: 5px;
    width: 170px;
    float: right;
    height: 170px;
    position: relative;
    bottom: 120px;
    left: 70px;
}

.date {
    font-size: 12px; /* اندازه فونت برای تاریخ */
    color: #666; /* رنگ تاریخ */
    margin-right: 300px;
}

.box-title {
    font-size: 18px; /* اندازه فونت برای عنوان */
    margin: 30px;
    margin-left: 280px;
}

.box-description {
    font-size: 14px; /* اندازه فونت برای توضیحات */
    color: #333; /* رنگ توضیحات */
    max-width: 545px;
    margin-left: 100px;
}

/* استایل برای بخش آمار */
.stats {
    display: flex; /* چیدمان افقی */
    justify-content: flex-start; /* تراز کردن به سمت چپ */
    margin-top: 40px; /* فاصله بالایی */
    margin-left: 115px;
}

/* استایل برای آیتم‌های آمار */
.stat-item {
    display: flex; /* چیدمان افقی */
    align-items: center; /* تراز کردن عمودی */
    margin-right: 15px; /* فاصله بین آیتم‌ها */
    color: gray; /* رنگ خاکستری */
}

/* استایل برای شماره‌ها */
.stat-number {
    margin-right: 2px; /* فاصله بین عدد و آیکون */
    font-size: 14px; /* اندازه فونت */
}

/* استایل برای آیکون‌ها */
.icon {
    width: 12px; /* عرض آیکون */
    height: 12px; /* ارتفاع آیکون */
    margin-left: 5px; /* فاصله بین عدد و آیکون */
    color: gray; /* رنگ آیکون‌ها */
}

/* استایل برای تایمر */
.timer {
    margin-right: 2px; /* فاصله بین تایمر و آیکون */
    font-size: 14px; /* اندازه فونت */
}

/* استایل برای نقاط عمودی */
.dots-container {
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 1160px;
    left: 430px;
}

/* استایل برای هر نقطه */
.dot {
    width: 7px; /* عرض نقطه */
    height: 7px; /* ارتفاع نقطه */
    border-radius: 50%; /* گرد کردن نقاط */
    background-color: #fff; /* رنگ پیش‌فرض */
    transition: transform 0.3s, background-color 0.3s; /* انیمیشن برای تغییرات */
}

/* استایل برای نقطه فعال */
.dot.active {
    /* transform: scale(1.5); بزرگتر شدن نقطه فعال */
    background-color: #10c6c6; /* تغییر رنگ برای نقطه فعال */
    height: 20px;
    width: 8px;
    border-radius: 40%;
}
