.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #ffffff; رنگ پس‌زمینه */
  margin-top: 25px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); اضافه کردن سایه */
}

.header-left {
  display: flex;
  align-items: center;
  
}

.header-right {
  display: flex;
  align-items: center;
  width: 15%;
}

.header-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 14px;
}

.header-title-container {
  position: relative; /* برای قرار دادن خط زیر عنوان */
  cursor: pointer; /* تغییر نشانگر ماوس */
  padding: 10px 0; /* فاصله عمودی برای عناوین */
  transition: color 0.3s; /* انیمیشن تغییر رنگ */
}

.header-title {
  margin: 0 15px; /* فاصله بین عناوین */
  font-size: 18px; /* اندازه فونت عناوین */
  color: #333; /* رنگ متن عنوان */
  transition: color 0.3s; /* انیمیشن تغییر رنگ */
}

.header-title:hover {
  color: #10c6c6; /* تغییر رنگ هنگام هاور */
}

.orange-line {
  position: absolute;
  width: 100%; /* عرض کامل عنوان */
  height: 3px; /* ارتفاع خط */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, orange 50%, rgba(255, 255, 255, 0) 100%); /* محو شدن به سفید در طرفین */
  bottom: -5px; /* موقعیت آن را زیر عنوان قرار می‌دهد */
  left: 0; /* تراز به سمت چپ */
  border-radius: 30px; /* گرد کردن گوشه‌های خط */
}



.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* اندازه فونت دکمه‌ها */
  margin: 0 5px; /* فاصله بین دکمه‌ها */
  display: flex; /* برای قرار دادن آیکون و متن در کنار هم */
  align-items: center; /* عمودی وسط‌چینی آیکون و متن */
  padding: 5px 10px; /* فاصله داخلی */
  border-radius: 15px; /* گرد کردن گوشه‌ها */
  transition: background-color 0.3s; /* انیمیشن تغییر رنگ پس‌زمینه */
}

.nav-button:hover {
  background-color: rgba(16, 198, 198, 0.2); /* تغییر رنگ پس‌زمینه هنگام هاور */
}

.account-button {
  display: flex;
  align-items: center;
  border: 1px solid transparent; /* رنگ border */
  background-color: #10c6c6;
  color: #ffffff;
}

.account-icon {
  width: 20px; /* اندازه آیکون انسان */
  height: 20px; /* اندازه آیکون انسان */
  margin-right: 5px; /* فاصله بین آیکون و متن */
}

.logo {
  height: 50px; /* ارتفاع لوگو */
}

.heart-icon,
.cart-icon {
  width: 18px; /* اندازه آیکون‌ها */
  height: 18px; /* اندازه آیکون‌ها */
}

.cart-button:hover,
.heart-button:hover {
  background-color: rgba(16, 198, 198, 0.2); /* تغییر رنگ پس‌زمینه هنگام هاور */
}
