.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    background-color: #b5efef; /* رنگ پس‌زمینه */
    padding: 20px 0;
    width: 100%;
  }
  
  .footer-logo img {
    max-width: 115px;
    margin-bottom: 20px; /* فاصله پایین لوگو */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column; /* چیدمان عمودی */
    align-items: flex-start; /* تراز به سمت چپ */
  }
  
  .footer-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: -21px;
  }
  
  .footer-button {
    background-color: #0a7f7f; /* پس‌زمینه نیمه شفاف */
    border: 1px solid #fff;
    color: white;
    border: none;
    border-radius: 50%; /* دکمه‌های گرد */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease; /* انیمیشن برای تغییر رنگ */
  }
  
  .footer-button:hover {
    background-color: #0056b3; /* تغییر رنگ دکمه در هنگام هاور */
  }
  
  .footer-text {
    font-size: 13px;
    color: #6f6e6e;
    margin-left: auto;
    margin-top: 60px;
    max-width: 484px;
    padding-right: 122px;
  }
  
  .footer-heading {
    margin-left: auto;
    font-size: 16px;
    color: #333;
    max-width: 404px;
    margin-top: 15px;
    padding-right: 128px;
  }
  .footer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* دو ستون مساوی */
    column-gap: 20px; /* فاصله بین ستون‌ها */
    row-gap: 5px; /* فاصله بین ردیف‌ها */
    list-style-type: none; /* حذف نقاط پیش‌فرض */
    padding: 0;
    margin-right: auto;
    margin-top: -125px;
    padding-left: 340px;
    text-align: right; /* راست‌چین کردن کل لیست */
  }
  
  .footer-list li {
    position: relative;
    padding-right: 0; /* حذف فاصله بین نقطه و متن */
    font-size: 15px;
  }
  
  .footer-list li::before {
    content: '•'; /* نقطه قبل از آیتم */
    position: absolute;
    right: -10px; /* تنظیم موقعیت نقطه */
    color: #000; /* رنگ نقطه */
  }
  
  
  /* استایل جدید برای کادر تصویر */
.image-box {
  height: 119px;
  margin-top: -105px;
  margin-right: auto;
  padding-left: 172px;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* تصویر متناسب با کادر */
  }
  .footer-rights-box {
    width: 100%;
    background-color: #0a7f7f;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  /* margin-top: 20px; */
  position: relative;
  top: 20px;
  }
  
  .footer-rights {
    font-size: 14px; /* اندازه فونت */
    color: #ffffff; /* رنگ متن */
  }
  
  
  
  